.orion.layout {
  @apply bg-gray-50 flex flex-col min-h-screen items-center relative;
}

/**
 * Center
 */
.orion.layout .layout-center {
  @apply flex justify-center w-full;
}

.orion.layout .layout-center-content {
  @apply layout-content;
}

/**
 * Topbar
 */
.orion.layout .layout-topbar {
  @apply fixed top-0 left-0 z-40;
  @apply flex-shrink-0 items-center h-64 bg-white;
  @apply border-b-1 border-gray-900-16;
  padding-left: calc(100vw - 100%);
}

.orion.layout .layout-topbar.dimmed {
  @apply bg-gray-100 border-space-900-8;
}

.orion.layout .layout-topbar > .layout-center-content {
  @apply flex items-center;
}

.orion.layout .layout-topbar .orion.menu {
  @apply flex-1 ml-40;
}

.orion.layout .layout-topbar .topbar-divider {
  @apply bg-gray-900-12 h-24 mx-8;
  width: 1px;
}

/**
 * Main
 */
.orion.layout .layout-main {
  @apply flex-1 py-24 mt-64;
  padding-left: calc(100vw - 100%);
}

/**
 * Apps Dropdown Trigger
 */
.orion.layout .layout-apps-dropdown {
  @apply min-w-40 min-h-40;
}

.orion.layout .layout-apps-dropdown > .text {
  @apply hidden;
}

.orion.layout .layout-apps-dropdown > .icon {
  @apply flex items-center justify-center m-auto w-40 h-40 rounded-full text-gray-700;
}

.orion.layout .layout-apps-dropdown > .icon:hover {
  @apply bg-gray-900-8;
}

.orion.layout .layout-apps-dropdown.active > .icon {
  @apply bg-gray-900-12;
}

/**
 * Apps Dropdown Menu
 */
.orion.layout .layout-apps-dropdown > .menu {
  @apply bg-gray-100 left-0;
  min-width: 206px;
  transform: translateX(calc(-50% + 20px));
}

/**
 * Apps Dropdown Header
 */
.orion.layout .layout-apps-dropdown > .menu > .header {
  @apply relative flex items-center bg-white py-16 px-32 cursor-auto;
}

.orion.layout .layout-apps-dropdown > .menu > .header:before {
  @apply absolute rounded-full w-8 h-8 bg-wave-500;
  content: ' ';
  left: 16px;
}

/**
 * Apps Dropdown Item
 */
.orion.layout .layout-apps-dropdown > .menu > .item {
  @apply flex items-center py-16 px-32 font-normal text-gray-900;
}

.orion.layout .layout-apps-dropdown > .menu > .item:hover {
  @apply bg-gray-200;
}

/**
 * Apps Dropdown Image
 */
.orion.layout .layout-apps-dropdown-image {
  @apply flex justify-center items-center overflow-hidden mr-8 w-24 h-24;
}

.orion.layout .layout-apps-dropdown-image > .orion.image {
  @apply mx-0;
}
