/**
 * Dropdown trigger
 */
.orion.layout .layout-user-profile {
  @apply rounded px-8 py-4 whitespace-no-wrap flex-no-wrap;
}

.orion.layout .layout-user-profile-trigger {
  @apply flex flex-row items-center;
  min-height: 34px;
}

.orion.layout .layout-user-profile-trigger-texts {
  @apply flex flex-col justify-center ml-8;
}

.orion.layout .layout-user-profile:hover {
  @apply bg-gray-900-8;
}

.orion.layout .layout-user-profile.active {
  @apply bg-gray-900-12;
}

.orion.layout .layout-user-profile > .icon {
  @apply text-gray-700;
  margin-left: 4px !important;
}

.orion.layout .layout-user-profile-name {
  @apply text-base leading-20;
}

.orion.layout .layout-user-profile-name + label {
  cursor: inherit;
}

/**
 * User Image
 */
.orion.layout .layout-user-profile-image {
  @apply flex items-center justify-center rounded-full overflow-hidden bg-gray-400;
}

.orion.layout .layout-user-profile-image > img {
  @apply object-cover h-full w-full;
}

.orion.layout .layout-user-profile-image > .orion.icon {
  @apply text-gray-500;
}

.orion.layout .header .layout-user-profile-image {
  @apply m-auto w-64 h-64;
}

.orion.layout .header .layout-user-profile-image > .orion.icon {
  font-size: 48px;
}

.orion.layout .layout-user-profile-trigger .layout-user-profile-image {
  @apply w-32 h-32;
}

.orion.layout
  .layout-user-profile-trigger
  .layout-user-profile-image
  > .orion.icon {
  font-size: 24px;
}

/**
 * Edit Link
 */
.orion.layout .user-profile-edit-link {
  @apply inline-flex text-sm items-center m-auto text-wave-600;
  margin-top: 6px;
}

.orion.layout .user-profile-edit-link:hover {
  @apply text-wave-700;
}

.orion.layout .user-profile-edit-link:active {
  @apply text-wave-800;
}

.orion.layout .user-profile-edit-link > .orion.icon {
  @apply text-icon-sm mr-4;
}

/**
 * Dropdown Menu
 */
.orion.layout .layout-user-profile > .menu {
  @apply overflow-visible;
  width: 320px !important;
}

/**
 * Dropdown Header
 */
.orion.layout .layout-user-profile .header {
  @apply flex flex-col cursor-auto pt-16;
}

.orion.layout .layout-user-profile .layout-user-profile-header-name {
  @apply text-center font-medium pt-8;
}

.orion.layout .layout-user-profile .layout-user-profile-header-email {
  @apply text-center;
}

.orion.layout .layout-user-profile .header .orion.divider.header-divider {
  @apply mt-16;
}

/**
 * UserProfileHeaderItem
 */
.orion.layout .layout-user-profile .header-item {
  @apply flex items-center cursor-auto relative  p-16;
}

/**
 * Dropdown Items 
 */
.orion.layout .layout-user-profile .item {
  @apply flex bg-gray-100 relative flex ml-0 p-16;
}

.orion.layout .layout-user-profile .item:hover {
  @apply bg-gray-200;
}

.orion.layout .layout-user-profile .item-content,
.orion.layout .layout-user-profile .header-item-content {
  @apply flex-grow;
  display: grid;
  grid-template-columns: [icon-start] fit-content(40px) [icon-end] auto;
  grid-template-rows: 1fr auto;
}

.orion.layout .layout-user-profile .item .item-title,
.orion.layout .layout-user-profile .header-item .header-item-title {
  @apply text-gray-900 font-medium self-center;
  grid-column: icon-end;
}

.orion.layout .layout-user-profile .item label,
.orion.layout .layout-user-profile .header-item label {
  @apply capitalize;
  grid-column: icon-end;
  cursor: inherit;
}

/**
 * User Profile Icon
 */
.orion.layout .user-profile-icon {
  @apply rounded-full w-40 h-40 mr-8 bg-gray-400 flex items-center justify-center overflow-hidden;
  grid-column: icon-start / icon-end;
  grid-row: span 2;
}

.orion.layout .user-profile-icon > img {
  @apply h-full w-full object-cover;
}

/**
 * Dropdown Logout option 
 */
.orion.layout .layout-user-profile-logout {
  @apply flex justify-center w-full p-8 cursor-auto;
}

.orion.layout .layout-user-profile-logout > button {
  @apply flex items-center text-sm bg-transparent text-gray-800;
}

.orion.layout .layout-user-profile-logout > button:hover {
  @apply text-gray-900;
}

.orion.layout .layout-user-profile-logout > button > .icon {
  @apply leading-20 text-center mr-4 text-icon-sm;
}
