/**
 * Dropdown trigger
 */
.orion.layout .layout-user-profile {
  @apply rounded px-8 py-4 whitespace-no-wrap;
}

.orion.layout .layout-user-profile:hover,
.orion.layout .layout-user-profile.active {
  @apply bg-gray-900-8;
}

.orion.layout .layout-user-profile > .icon {
  margin-left: 4px !important;
}

.orion.layout .layout-user-profile-name {
  @apply text-base leading-20;
}

.orion.layout .layout-user-profile > label {
  cursor: inherit;
}

/**
 * Dropdown Menu
 */
.orion.layout .layout-user-profile > .menu {
  width: 320px !important;
}

/**
 * Dropdown Header
 */
.orion.layout .layout-user-profile .header {
  @apply cursor-auto;
}

.orion.layout .layout-user-profile .layout-user-profile-header-name {
  @apply text-center font-medium pt-16;
}

.orion.layout .layout-user-profile .layout-user-profile-header-email {
  @apply text-center pb-16;
}

/**
 * UserProfileHeaderItem
 */
.orion.layout .layout-user-profile .header-item {
  @apply flex items-center cursor-auto relative  p-16;
}

.orion.layout .layout-user-profile .header-item.selected {
  @apply pl-32;
}

.orion.layout .layout-user-profile .header-item.selected:before {
  @apply absolute w-8 h-8 rounded-full bg-wave-500;
  content: ' ';
  left: 16px;
}

/**
 * Dropdown Items 
 */
.orion.layout .layout-user-profile .item {
  @apply flex bg-gray-100 relative flex ml-0 py-16 pr-16 pl-32;
}

.orion.layout .layout-user-profile .item:hover {
  @apply bg-gray-200;
}

.orion.layout .layout-user-profile .item-content,
.orion.layout .layout-user-profile .header-item-content {
  @apply flex-grow;
  display: grid;
  grid-template-columns: [icon-start] fit-content(40px) [icon-end] auto;
  grid-template-rows: 1fr auto;
}

.orion.layout .layout-user-profile .item .item-title,
.orion.layout .layout-user-profile .header-item .header-item-title {
  @apply text-gray-900 font-medium self-center;
  grid-column: icon-end;
}

.orion.layout .layout-user-profile .item label,
.orion.layout .layout-user-profile .header-item label {
  @apply capitalize;
  grid-column: icon-end;
}

/**
 * User Profile Icon
 */
.orion.layout .user-profile-icon {
  @apply rounded-full w-40 h-40 mr-8 bg-gray-400 flex items-center justify-center overflow-hidden;
  grid-column: icon-start / icon-end;
  grid-row: span 2;
}

/**
 * Dropdown Logout option 
 */
.orion.layout .layout-user-profile-logout {
  @apply flex justify-center w-full p-8 cursor-auto;
}

.orion.layout .layout-user-profile-logout > button {
  @apply flex items-center text-sm bg-transparent text-gray-800;
}

.orion.layout .layout-user-profile-logout > button:hover {
  @apply text-gray-900;
}

.orion.layout .layout-user-profile-logout > button > .icon {
  @apply leading-20 text-center mr-4 text-icon-sm;
}
