.orion.form .field {
  @apply relative;
}

.orion.form .field > label,
.orion.form .fields > label {
  @apply block mb-8;
}

/* Floated label */
.orion.form .field.floatingLabel label {
  @apply absolute border-l-1 top-0 block .cursor-text ml-16 pb-0 text-gray-800 text-base transition-default z-10;
  @apply pointer-events-none;
  transition-property: margin-top, font-size;
  border-color: transparent !important;
  margin-top: 17px;
}

.orion.form .field.floatingLabel.filled label,
.orion.form .field.floatingLabel:focus-within label {
  @apply mt-8 text-sm;
}

.orion.form .field.floatingLabel label:not(:empty) + .dropdown > .text,
.orion.form .field.floatingLabel label:not(:empty) + .input > input,
.orion.form
  .field.floatingLabel:not(.filled)
  label:not(:empty)
  + .tags-input
  > input,
.orion.form
  .field.floatingLabel
  label:not(:empty)
  + .datepicker-input-trigger
  input {
  @apply pt-16;
}

.orion.form .field.floatingLabel label:not(:empty) + .dropdown .default.text,
.orion.form
  .field.floatingLabel
  label:not(:empty)
  + .datepicker-input-trigger
  input::placeholder,
.orion.form
  .field.floatingLabel
  label:not(:empty)
  + .input
  > input::placeholder {
  @apply transition-default;
  transition-property: color;
  color: transparent;
}

.orion.form .field.floatingLabel:focus-within .dropdown .default.text,
.orion.form .field.floatingLabel:focus-within input::placeholder,
.orion.form .field.floatingLabel.filled input::placeholder {
  @apply text-gray-800;
}

.orion.form
  .field.floatingLabel.filled
  label:not(:empty)
  + .dropdown.multiple:not(.no-selected-labels) {
  @apply pt-24;
}

/* Outside label */
.orion.form .field label {
  @apply block mb-8;
}

/* Error */
.orion.form .field.error input,
.orion.form .field.error .dropdown {
  @apply border-magenta-500;
}

/* Error message */
.orion-form-field {
  @apply mb-16;
}

.orion-form-field__message {
  @apply mt-4 text-sm text-magenta-600;
}

.orion-form-field__message--warning {
  @apply text-yellow-500;
}

/* Inline */

.orion.form .fields.inline {
  @apply flex !important;
  @apply flex-wrap items-center;
}

.orion.form .fields.inline > label {
  @apply w-full;
}

.orion.form .fields.inline > .field {
  @apply mr-16;
}
