/** Trigger button **/

.orion.button.filter-trigger {
  @apply bg-white border border-gray-900-24 cursor-pointer font-normal transition-default;
  @apply inline-flex h-32 items-center min-w-0 text-gray-800;
  @apply outline-none;
  @apply px-16;
  border-radius: 16px;
  transition-property: background-color, color;
}

.orion.button.filter-trigger.active,
.orion.button.filter-trigger:hover,
.orion.button.filter-trigger:focus {
  @apply bg-gray-900-8;
}

.orion.button.filter-trigger.active:hover {
  @apply bg-gray-900-16;
}

.orion.button.filter-trigger.selected {
  @apply bg-space-100 border-none text-space-900;
  @apply pr-8;
}

.orion.button.filter-trigger.selected:hover,
.orion.button.filter-trigger.selected:focus {
  @apply bg-space-200;
}

/** Trigger button's icon **/

.orion.button.filter-trigger .icon {
  @apply ml-4 rounded-full text-space-600;
  @apply h-16 w-16;
  @apply transition-default;
  font-size: 16px;
  transition-property: background-color, color;
}

.orion.button.filter-trigger .icon:hover {
  @apply bg-space-100 text-space-900;
}

/** Popup content **/

.orion.popup.filter .filter-content {
  @apply p-8 pb-24;
}

.orion.popup.filter .filter-buttons {
  @apply flex justify-between;
}

.orion.popup.filter .filter-footer-content {
  @apply leading-14 font-display mr-8 text-sm text-gray-800;
}
