.orion.checkbox.radio input[type='checkbox'] ~ label:before {
  @apply rounded-full;
}

.orion.checkbox.radio input[type='checkbox']:checked ~ label:before {
  @apply bg-white border-robinblue-500;
}

.orion.checkbox.radio input[type='checkbox']:checked ~ label:hover:before {
  @apply border-robinblue-600;
}

.orion.checkbox.radio input[type='checkbox']:checked ~ label:active:before,
.orion.checkbox.radio input[type='checkbox']:checked:focus ~ label:before {
  @apply border-robinblue-700;
}

.orion.checkbox.radio input[type='checkbox']:checked ~ label:after {
  @apply bg-robinblue-500 h-8 rounded-full w-8;
  content: '';
  left: 4px;
  top: 4px;
}

.orion.checkbox.radio input[type='checkbox']:checked ~ label:hover:after {
  @apply bg-robinblue-600;
}

.orion.checkbox.radio input[type='checkbox']:checked ~ label:active:after,
.orion.checkbox.radio input[type='checkbox']:checked:focus ~ label:after {
  @apply bg-robinblue-700;
}

/**
 * Disabled
 */

.orion.checkbox.radio.disabled input[type='checkbox'] ~ label:before {
  @apply bg-gray-300 border-gray-900-16;
}

.orion.checkbox.radio.disabled input[type='checkbox'] ~ label:after {
  @apply bg-gray-600;
}
