/** 
*** Input wrapper wrapper
**/
.orion-slider-wrapper {
  @apply inline-flex flex-col relative w-384;
}

/** 
*** Input wrapper input
**/
input[type='range'].orion-slider {
  @apply appearance-none bg-transparent text-base overflow-hidden min-h-24;
  padding: 0 1px;
}

@supports (-moz-appearance: none) {
  input[type='range'].orion-slider {
    @apply overflow-visible p-0;
  }
}

/* focus */
input[type='range'].orion-slider:focus {
  @apply outline-none;
}

input[type='range'].orion-slider::-moz-focus-outer {
  @apply border-0;
}

/** 
*** Thumb 
**/
input[type='range'].orion-slider::-webkit-slider-thumb {
  @apply bg-white appearance-none w-16 h-16 border border-solid border-gray-900-24 cursor-pointer rounded-full;
  margin-top: -6px;
}

input[type='range'].orion-slider::-moz-range-thumb {
  @apply bg-white  appearance-none w-16 h-16 border border-solid border-gray-900-24 cursor-pointer rounded-full;
  box-sizing: border-box;
}

/* hover */
input[type='range'].orion-slider:hover::-webkit-slider-thumb {
  /* This box shadow adds shadow to the thumb on Chrome.
     The objective fake the track color after the thumb */
  box-shadow: inset 0 0px 0px 1px rgba(61, 62, 63, 0.16), 5px 0 0 -6px #e3e4e5,
    6px 0 0 -6px #e3e4e5, 7px 0 0 -6px #e3e4e5, 8px 0 0 -6px #e3e4e5,
    9px 0 0 -6px #e3e4e5, 10px 0 0 -6px #e3e4e5, 11px 0 0 -6px #e3e4e5,
    12px 0 0 -6px #e3e4e5, 13px 0 0 -6px #e3e4e5, 14px 0 0 -6px #e3e4e5,
    15px 0 0 -6px #e3e4e5, 16px 0 0 -6px #e3e4e5, 17px 0 0 -6px #e3e4e5,
    18px 0 0 -6px #e3e4e5, 19px 0 0 -6px #e3e4e5, 20px 0 0 -6px #e3e4e5,
    21px 0 0 -6px #e3e4e5, 22px 0 0 -6px #e3e4e5, 23px 0 0 -6px #e3e4e5,
    24px 0 0 -6px #e3e4e5, 25px 0 0 -6px #e3e4e5, 26px 0 0 -6px #e3e4e5,
    27px 0 0 -6px #e3e4e5, 28px 0 0 -6px #e3e4e5, 29px 0 0 -6px #e3e4e5,
    30px 0 0 -6px #e3e4e5, 31px 0 0 -6px #e3e4e5, 32px 0 0 -6px #e3e4e5,
    33px 0 0 -6px #e3e4e5, 34px 0 0 -6px #e3e4e5, 35px 0 0 -6px #e3e4e5,
    36px 0 0 -6px #e3e4e5, 37px 0 0 -6px #e3e4e5, 38px 0 0 -6px #e3e4e5,
    39px 0 0 -6px #e3e4e5, 40px 0 0 -6px #e3e4e5, 41px 0 0 -6px #e3e4e5,
    42px 0 0 -6px #e3e4e5, 43px 0 0 -6px #e3e4e5, 44px 0 0 -6px #e3e4e5,
    45px 0 0 -6px #e3e4e5, 46px 0 0 -6px #e3e4e5, 47px 0 0 -6px #e3e4e5,
    48px 0 0 -6px #e3e4e5, 49px 0 0 -6px #e3e4e5, 50px 0 0 -6px #e3e4e5,
    51px 0 0 -6px #e3e4e5, 52px 0 0 -6px #e3e4e5, 53px 0 0 -6px #e3e4e5,
    54px 0 0 -6px #e3e4e5, 55px 0 0 -6px #e3e4e5, 56px 0 0 -6px #e3e4e5,
    57px 0 0 -6px #e3e4e5, 58px 0 0 -6px #e3e4e5, 59px 0 0 -6px #e3e4e5,
    60px 0 0 -6px #e3e4e5, 61px 0 0 -6px #e3e4e5, 62px 0 0 -6px #e3e4e5,
    63px 0 0 -6px #e3e4e5, 64px 0 0 -6px #e3e4e5, 65px 0 0 -6px #e3e4e5,
    66px 0 0 -6px #e3e4e5, 67px 0 0 -6px #e3e4e5, 68px 0 0 -6px #e3e4e5,
    69px 0 0 -6px #e3e4e5, 70px 0 0 -6px #e3e4e5, 71px 0 0 -6px #e3e4e5,
    72px 0 0 -6px #e3e4e5, 73px 0 0 -6px #e3e4e5, 74px 0 0 -6px #e3e4e5,
    75px 0 0 -6px #e3e4e5, 76px 0 0 -6px #e3e4e5, 77px 0 0 -6px #e3e4e5,
    78px 0 0 -6px #e3e4e5, 79px 0 0 -6px #e3e4e5, 80px 0 0 -6px #e3e4e5,
    81px 0 0 -6px #e3e4e5, 82px 0 0 -6px #e3e4e5, 83px 0 0 -6px #e3e4e5,
    84px 0 0 -6px #e3e4e5, 85px 0 0 -6px #e3e4e5, 86px 0 0 -6px #e3e4e5,
    87px 0 0 -6px #e3e4e5, 88px 0 0 -6px #e3e4e5, 89px 0 0 -6px #e3e4e5,
    90px 0 0 -6px #e3e4e5, 91px 0 0 -6px #e3e4e5, 92px 0 0 -6px #e3e4e5,
    93px 0 0 -6px #e3e4e5, 94px 0 0 -6px #e3e4e5, 95px 0 0 -6px #e3e4e5,
    96px 0 0 -6px #e3e4e5, 97px 0 0 -6px #e3e4e5, 98px 0 0 -6px #e3e4e5,
    99px 0 0 -6px #e3e4e5, 100px 0 0 -6px #e3e4e5, 101px 0 0 -6px #e3e4e5,
    102px 0 0 -6px #e3e4e5, 103px 0 0 -6px #e3e4e5, 104px 0 0 -6px #e3e4e5,
    105px 0 0 -6px #e3e4e5, 106px 0 0 -6px #e3e4e5, 107px 0 0 -6px #e3e4e5,
    108px 0 0 -6px #e3e4e5, 109px 0 0 -6px #e3e4e5, 110px 0 0 -6px #e3e4e5,
    111px 0 0 -6px #e3e4e5, 112px 0 0 -6px #e3e4e5, 113px 0 0 -6px #e3e4e5,
    114px 0 0 -6px #e3e4e5, 115px 0 0 -6px #e3e4e5, 116px 0 0 -6px #e3e4e5,
    117px 0 0 -6px #e3e4e5, 118px 0 0 -6px #e3e4e5, 119px 0 0 -6px #e3e4e5,
    120px 0 0 -6px #e3e4e5, 121px 0 0 -6px #e3e4e5, 122px 0 0 -6px #e3e4e5,
    123px 0 0 -6px #e3e4e5, 124px 0 0 -6px #e3e4e5, 125px 0 0 -6px #e3e4e5,
    126px 0 0 -6px #e3e4e5, 127px 0 0 -6px #e3e4e5, 128px 0 0 -6px #e3e4e5,
    129px 0 0 -6px #e3e4e5, 130px 0 0 -6px #e3e4e5, 131px 0 0 -6px #e3e4e5,
    132px 0 0 -6px #e3e4e5, 133px 0 0 -6px #e3e4e5, 134px 0 0 -6px #e3e4e5,
    135px 0 0 -6px #e3e4e5, 136px 0 0 -6px #e3e4e5, 137px 0 0 -6px #e3e4e5,
    138px 0 0 -6px #e3e4e5, 139px 0 0 -6px #e3e4e5, 140px 0 0 -6px #e3e4e5,
    141px 0 0 -6px #e3e4e5, 142px 0 0 -6px #e3e4e5, 143px 0 0 -6px #e3e4e5,
    144px 0 0 -6px #e3e4e5, 145px 0 0 -6px #e3e4e5, 146px 0 0 -6px #e3e4e5,
    147px 0 0 -6px #e3e4e5, 148px 0 0 -6px #e3e4e5, 149px 0 0 -6px #e3e4e5,
    150px 0 0 -6px #e3e4e5, 151px 0 0 -6px #e3e4e5, 152px 0 0 -6px #e3e4e5,
    153px 0 0 -6px #e3e4e5, 154px 0 0 -6px #e3e4e5, 155px 0 0 -6px #e3e4e5,
    156px 0 0 -6px #e3e4e5, 157px 0 0 -6px #e3e4e5, 158px 0 0 -6px #e3e4e5,
    159px 0 0 -6px #e3e4e5, 160px 0 0 -6px #e3e4e5, 161px 0 0 -6px #e3e4e5,
    162px 0 0 -6px #e3e4e5, 163px 0 0 -6px #e3e4e5, 164px 0 0 -6px #e3e4e5,
    165px 0 0 -6px #e3e4e5, 166px 0 0 -6px #e3e4e5, 167px 0 0 -6px #e3e4e5,
    168px 0 0 -6px #e3e4e5, 169px 0 0 -6px #e3e4e5, 170px 0 0 -6px #e3e4e5,
    171px 0 0 -6px #e3e4e5, 172px 0 0 -6px #e3e4e5, 173px 0 0 -6px #e3e4e5,
    174px 0 0 -6px #e3e4e5, 175px 0 0 -6px #e3e4e5, 176px 0 0 -6px #e3e4e5,
    177px 0 0 -6px #e3e4e5, 178px 0 0 -6px #e3e4e5, 179px 0 0 -6px #e3e4e5,
    180px 0 0 -6px #e3e4e5, 181px 0 0 -6px #e3e4e5, 182px 0 0 -6px #e3e4e5,
    183px 0 0 -6px #e3e4e5, 184px 0 0 -6px #e3e4e5, 185px 0 0 -6px #e3e4e5,
    186px 0 0 -6px #e3e4e5, 187px 0 0 -6px #e3e4e5, 188px 0 0 -6px #e3e4e5,
    189px 0 0 -6px #e3e4e5, 190px 0 0 -6px #e3e4e5, 191px 0 0 -6px #e3e4e5,
    192px 0 0 -6px #e3e4e5, 193px 0 0 -6px #e3e4e5, 194px 0 0 -6px #e3e4e5,
    195px 0 0 -6px #e3e4e5, 196px 0 0 -6px #e3e4e5, 197px 0 0 -6px #e3e4e5,
    198px 0 0 -6px #e3e4e5, 199px 0 0 -6px #e3e4e5, 200px 0 0 -6px #e3e4e5,
    201px 0 0 -6px #e3e4e5, 202px 0 0 -6px #e3e4e5, 203px 0 0 -6px #e3e4e5,
    204px 0 0 -6px #e3e4e5, 205px 0 0 -6px #e3e4e5, 206px 0 0 -6px #e3e4e5,
    207px 0 0 -6px #e3e4e5, 208px 0 0 -6px #e3e4e5, 209px 0 0 -6px #e3e4e5,
    210px 0 0 -6px #e3e4e5, 211px 0 0 -6px #e3e4e5, 212px 0 0 -6px #e3e4e5,
    213px 0 0 -6px #e3e4e5, 214px 0 0 -6px #e3e4e5, 215px 0 0 -6px #e3e4e5,
    216px 0 0 -6px #e3e4e5, 217px 0 0 -6px #e3e4e5, 218px 0 0 -6px #e3e4e5,
    219px 0 0 -6px #e3e4e5, 220px 0 0 -6px #e3e4e5, 221px 0 0 -6px #e3e4e5,
    222px 0 0 -6px #e3e4e5, 223px 0 0 -6px #e3e4e5, 224px 0 0 -6px #e3e4e5,
    225px 0 0 -6px #e3e4e5, 226px 0 0 -6px #e3e4e5, 227px 0 0 -6px #e3e4e5,
    228px 0 0 -6px #e3e4e5, 229px 0 0 -6px #e3e4e5, 230px 0 0 -6px #e3e4e5,
    231px 0 0 -6px #e3e4e5, 232px 0 0 -6px #e3e4e5, 233px 0 0 -6px #e3e4e5,
    234px 0 0 -6px #e3e4e5, 235px 0 0 -6px #e3e4e5, 236px 0 0 -6px #e3e4e5,
    237px 0 0 -6px #e3e4e5, 238px 0 0 -6px #e3e4e5, 239px 0 0 -6px #e3e4e5,
    240px 0 0 -6px #e3e4e5, 241px 0 0 -6px #e3e4e5, 242px 0 0 -6px #e3e4e5,
    243px 0 0 -6px #e3e4e5, 244px 0 0 -6px #e3e4e5, 245px 0 0 -6px #e3e4e5,
    246px 0 0 -6px #e3e4e5, 247px 0 0 -6px #e3e4e5, 248px 0 0 -6px #e3e4e5,
    249px 0 0 -6px #e3e4e5, 250px 0 0 -6px #e3e4e5, 251px 0 0 -6px #e3e4e5,
    252px 0 0 -6px #e3e4e5, 253px 0 0 -6px #e3e4e5, 254px 0 0 -6px #e3e4e5,
    255px 0 0 -6px #e3e4e5, 256px 0 0 -6px #e3e4e5, 257px 0 0 -6px #e3e4e5,
    258px 0 0 -6px #e3e4e5, 259px 0 0 -6px #e3e4e5, 260px 0 0 -6px #e3e4e5,
    261px 0 0 -6px #e3e4e5, 262px 0 0 -6px #e3e4e5, 263px 0 0 -6px #e3e4e5,
    264px 0 0 -6px #e3e4e5, 265px 0 0 -6px #e3e4e5, 266px 0 0 -6px #e3e4e5,
    267px 0 0 -6px #e3e4e5, 268px 0 0 -6px #e3e4e5, 269px 0 0 -6px #e3e4e5,
    270px 0 0 -6px #e3e4e5, 271px 0 0 -6px #e3e4e5, 272px 0 0 -6px #e3e4e5,
    273px 0 0 -6px #e3e4e5, 274px 0 0 -6px #e3e4e5, 275px 0 0 -6px #e3e4e5,
    276px 0 0 -6px #e3e4e5, 277px 0 0 -6px #e3e4e5, 278px 0 0 -6px #e3e4e5,
    279px 0 0 -6px #e3e4e5, 280px 0 0 -6px #e3e4e5, 281px 0 0 -6px #e3e4e5,
    282px 0 0 -6px #e3e4e5, 283px 0 0 -6px #e3e4e5, 284px 0 0 -6px #e3e4e5,
    285px 0 0 -6px #e3e4e5, 286px 0 0 -6px #e3e4e5, 287px 0 0 -6px #e3e4e5,
    288px 0 0 -6px #e3e4e5, 289px 0 0 -6px #e3e4e5, 290px 0 0 -6px #e3e4e5,
    291px 0 0 -6px #e3e4e5, 292px 0 0 -6px #e3e4e5, 293px 0 0 -6px #e3e4e5,
    294px 0 0 -6px #e3e4e5, 295px 0 0 -6px #e3e4e5, 296px 0 0 -6px #e3e4e5,
    297px 0 0 -6px #e3e4e5, 298px 0 0 -6px #e3e4e5, 299px 0 0 -6px #e3e4e5,
    300px 0 0 -6px #e3e4e5, 301px 0 0 -6px #e3e4e5, 302px 0 0 -6px #e3e4e5,
    303px 0 0 -6px #e3e4e5, 304px 0 0 -6px #e3e4e5, 305px 0 0 -6px #e3e4e5,
    306px 0 0 -6px #e3e4e5, 307px 0 0 -6px #e3e4e5, 308px 0 0 -6px #e3e4e5,
    309px 0 0 -6px #e3e4e5, 310px 0 0 -6px #e3e4e5, 311px 0 0 -6px #e3e4e5,
    312px 0 0 -6px #e3e4e5, 313px 0 0 -6px #e3e4e5, 314px 0 0 -6px #e3e4e5,
    315px 0 0 -6px #e3e4e5, 316px 0 0 -6px #e3e4e5, 317px 0 0 -6px #e3e4e5,
    318px 0 0 -6px #e3e4e5, 319px 0 0 -6px #e3e4e5, 320px 0 0 -6px #e3e4e5,
    321px 0 0 -6px #e3e4e5, 322px 0 0 -6px #e3e4e5, 323px 0 0 -6px #e3e4e5,
    324px 0 0 -6px #e3e4e5, 325px 0 0 -6px #e3e4e5, 326px 0 0 -6px #e3e4e5,
    327px 0 0 -6px #e3e4e5, 328px 0 0 -6px #e3e4e5, 329px 0 0 -6px #e3e4e5,
    330px 0 0 -6px #e3e4e5, 331px 0 0 -6px #e3e4e5, 332px 0 0 -6px #e3e4e5,
    333px 0 0 -6px #e3e4e5, 334px 0 0 -6px #e3e4e5, 335px 0 0 -6px #e3e4e5,
    336px 0 0 -6px #e3e4e5, 337px 0 0 -6px #e3e4e5, 338px 0 0 -6px #e3e4e5,
    339px 0 0 -6px #e3e4e5, 340px 0 0 -6px #e3e4e5, 341px 0 0 -6px #e3e4e5,
    342px 0 0 -6px #e3e4e5, 343px 0 0 -6px #e3e4e5, 344px 0 0 -6px #e3e4e5,
    345px 0 0 -6px #e3e4e5, 346px 0 0 -6px #e3e4e5, 347px 0 0 -6px #e3e4e5,
    348px 0 0 -6px #e3e4e5, 349px 0 0 -6px #e3e4e5, 350px 0 0 -6px #e3e4e5,
    351px 0 0 -6px #e3e4e5, 352px 0 0 -6px #e3e4e5, 353px 0 0 -6px #e3e4e5,
    354px 0 0 -6px #e3e4e5, 355px 0 0 -6px #e3e4e5, 356px 0 0 -6px #e3e4e5,
    357px 0 0 -6px #e3e4e5, 358px 0 0 -6px #e3e4e5, 359px 0 0 -6px #e3e4e5,
    360px 0 0 -6px #e3e4e5, 361px 0 0 -6px #e3e4e5, 362px 0 0 -6px #e3e4e5,
    363px 0 0 -6px #e3e4e5, 364px 0 0 -6px #e3e4e5, 365px 0 0 -6px #e3e4e5,
    366px 0 0 -6px #e3e4e5, 367px 0 0 -6px #e3e4e5, 368px 0 0 -6px #e3e4e5,
    369px 0 0 -6px #e3e4e5, 370px 0 0 -6px #e3e4e5, 371px 0 0 -6px #e3e4e5,
    372px 0 0 -6px #e3e4e5, 373px 0 0 -6px #e3e4e5, 374px 0 0 -6px #e3e4e5,
    375px 0 0 -6px #e3e4e5, 376px 0 0 -6px #e3e4e5, 377px 0 0 -6px #e3e4e5,
    378px 0 0 -6px #e3e4e5, 379px 0 0 -6px #e3e4e5, 380px 0 0 -6px #e3e4e5,
    381px 0 0 -6px #e3e4e5, 382px 0 0 -6px #e3e4e5, 383px 0 0 -6px #e3e4e5,
    384px 0 0 -6px #e3e4e5, 385px 0 0 -6px #e3e4e5, 386px 0 0 -6px #e3e4e5,
    387px 0 0 -6px #e3e4e5, 388px 0 0 -6px #e3e4e5, 389px 0 0 -6px #e3e4e5,
    390px 0 0 -6px #e3e4e5, 391px 0 0 -6px #e3e4e5, 392px 0 0 -6px #e3e4e5,
    393px 0 0 -6px #e3e4e5, 394px 0 0 -6px #e3e4e5, 395px 0 0 -6px #e3e4e5,
    396px 0 0 -6px #e3e4e5, 397px 0 0 -6px #e3e4e5, 398px 0 0 -6px #e3e4e5,
    399px 0 0 -6px #e3e4e5, 400px 0 0 -6px #e3e4e5, 401px 0 0 -6px #e3e4e5,
    402px 0 0 -6px #e3e4e5, 403px 0 0 -6px #e3e4e5, 404px 0 0 -6px #e3e4e5,
    405px 0 0 -6px #e3e4e5, 406px 0 0 -6px #e3e4e5, 407px 0 0 -6px #e3e4e5,
    408px 0 0 -6px #e3e4e5, 409px 0 0 -6px #e3e4e5, 410px 0 0 -6px #e3e4e5,
    411px 0 0 -6px #e3e4e5, 412px 0 0 -6px #e3e4e5, 413px 0 0 -6px #e3e4e5,
    414px 0 0 -6px #e3e4e5, 415px 0 0 -6px #e3e4e5, 416px 0 0 -6px #e3e4e5,
    417px 0 0 -6px #e3e4e5, 418px 0 0 -6px #e3e4e5, 419px 0 0 -6px #e3e4e5,
    420px 0 0 -6px #e3e4e5, 421px 0 0 -6px #e3e4e5, 422px 0 0 -6px #e3e4e5,
    423px 0 0 -6px #e3e4e5, 424px 0 0 -6px #e3e4e5, 425px 0 0 -6px #e3e4e5,
    426px 0 0 -6px #e3e4e5, 427px 0 0 -6px #e3e4e5, 428px 0 0 -6px #e3e4e5,
    429px 0 0 -6px #e3e4e5, 430px 0 0 -6px #e3e4e5, 431px 0 0 -6px #e3e4e5,
    432px 0 0 -6px #e3e4e5, 433px 0 0 -6px #e3e4e5, 434px 0 0 -6px #e3e4e5,
    435px 0 0 -6px #e3e4e5, 436px 0 0 -6px #e3e4e5, 437px 0 0 -6px #e3e4e5,
    438px 0 0 -6px #e3e4e5, 439px 0 0 -6px #e3e4e5, 440px 0 0 -6px #e3e4e5,
    441px 0 0 -6px #e3e4e5, 442px 0 0 -6px #e3e4e5, 443px 0 0 -6px #e3e4e5,
    444px 0 0 -6px #e3e4e5, 445px 0 0 -6px #e3e4e5, 446px 0 0 -6px #e3e4e5,
    447px 0 0 -6px #e3e4e5, 448px 0 0 -6px #e3e4e5, 449px 0 0 -6px #e3e4e5,
    450px 0 0 -6px #e3e4e5, 451px 0 0 -6px #e3e4e5, 452px 0 0 -6px #e3e4e5,
    453px 0 0 -6px #e3e4e5, 454px 0 0 -6px #e3e4e5, 455px 0 0 -6px #e3e4e5,
    456px 0 0 -6px #e3e4e5, 457px 0 0 -6px #e3e4e5, 458px 0 0 -6px #e3e4e5,
    459px 0 0 -6px #e3e4e5, 460px 0 0 -6px #e3e4e5, 461px 0 0 -6px #e3e4e5,
    462px 0 0 -6px #e3e4e5, 463px 0 0 -6px #e3e4e5, 464px 0 0 -6px #e3e4e5,
    465px 0 0 -6px #e3e4e5, 466px 0 0 -6px #e3e4e5, 467px 0 0 -6px #e3e4e5,
    468px 0 0 -6px #e3e4e5, 469px 0 0 -6px #e3e4e5, 470px 0 0 -6px #e3e4e5,
    471px 0 0 -6px #e3e4e5, 472px 0 0 -6px #e3e4e5, 473px 0 0 -6px #e3e4e5,
    474px 0 0 -6px #e3e4e5, 475px 0 0 -6px #e3e4e5, 476px 0 0 -6px #e3e4e5,
    477px 0 0 -6px #e3e4e5, 478px 0 0 -6px #e3e4e5, 479px 0 0 -6px #e3e4e5,
    480px 0 0 -6px #e3e4e5, 481px 0 0 -6px #e3e4e5, 482px 0 0 -6px #e3e4e5,
    483px 0 0 -6px #e3e4e5, 484px 0 0 -6px #e3e4e5, 485px 0 0 -6px #e3e4e5,
    486px 0 0 -6px #e3e4e5, 487px 0 0 -6px #e3e4e5, 488px 0 0 -6px #e3e4e5,
    489px 0 0 -6px #e3e4e5, 490px 0 0 -6px #e3e4e5, 491px 0 0 -6px #e3e4e5,
    492px 0 0 -6px #e3e4e5, 493px 0 0 -6px #e3e4e5, 494px 0 0 -6px #e3e4e5,
    495px 0 0 -6px #e3e4e5, 496px 0 0 -6px #e3e4e5, 497px 0 0 -6px #e3e4e5,
    498px 0 0 -6px #e3e4e5, 499px 0 0 -6px #e3e4e5, 500px 0 0 -6px #e3e4e5,
    501px 0 0 -6px #e3e4e5, 502px 0 0 -6px #e3e4e5, 503px 0 0 -6px #e3e4e5,
    504px 0 0 -6px #e3e4e5, 505px 0 0 -6px #e3e4e5, 506px 0 0 -6px #e3e4e5,
    507px 0 0 -6px #e3e4e5, 508px 0 0 -6px #e3e4e5, 509px 0 0 -6px #e3e4e5,
    510px 0 0 -6px #e3e4e5, 511px 0 0 -6px #e3e4e5, 512px 0 0 -6px #e3e4e5;
}

input[type='range'].orion-slider:hover::-moz-range-thumb {
  @apply shadow-field-hover;
}

/* focus, active */
input[type='range'].orion-slider:active::-webkit-slider-thumb,
input[type='range'].orion-slider:focus::-webkit-slider-thumb {
  box-shadow: 0 0px 0px 1px rgba(61, 62, 63, 0.48), 5px 0 0 -6px #e3e4e5,
    6px 0 0 -6px #e3e4e5, 7px 0 0 -6px #e3e4e5, 8px 0 0 -6px #e3e4e5,
    9px 0 0 -6px #e3e4e5, 10px 0 0 -6px #e3e4e5, 11px 0 0 -6px #e3e4e5,
    12px 0 0 -6px #e3e4e5, 13px 0 0 -6px #e3e4e5, 14px 0 0 -6px #e3e4e5,
    15px 0 0 -6px #e3e4e5, 16px 0 0 -6px #e3e4e5, 17px 0 0 -6px #e3e4e5,
    18px 0 0 -6px #e3e4e5, 19px 0 0 -6px #e3e4e5, 20px 0 0 -6px #e3e4e5,
    21px 0 0 -6px #e3e4e5, 22px 0 0 -6px #e3e4e5, 23px 0 0 -6px #e3e4e5,
    24px 0 0 -6px #e3e4e5, 25px 0 0 -6px #e3e4e5, 26px 0 0 -6px #e3e4e5,
    27px 0 0 -6px #e3e4e5, 28px 0 0 -6px #e3e4e5, 29px 0 0 -6px #e3e4e5,
    30px 0 0 -6px #e3e4e5, 31px 0 0 -6px #e3e4e5, 32px 0 0 -6px #e3e4e5,
    33px 0 0 -6px #e3e4e5, 34px 0 0 -6px #e3e4e5, 35px 0 0 -6px #e3e4e5,
    36px 0 0 -6px #e3e4e5, 37px 0 0 -6px #e3e4e5, 38px 0 0 -6px #e3e4e5,
    39px 0 0 -6px #e3e4e5, 40px 0 0 -6px #e3e4e5, 41px 0 0 -6px #e3e4e5,
    42px 0 0 -6px #e3e4e5, 43px 0 0 -6px #e3e4e5, 44px 0 0 -6px #e3e4e5,
    45px 0 0 -6px #e3e4e5, 46px 0 0 -6px #e3e4e5, 47px 0 0 -6px #e3e4e5,
    48px 0 0 -6px #e3e4e5, 49px 0 0 -6px #e3e4e5, 50px 0 0 -6px #e3e4e5,
    51px 0 0 -6px #e3e4e5, 52px 0 0 -6px #e3e4e5, 53px 0 0 -6px #e3e4e5,
    54px 0 0 -6px #e3e4e5, 55px 0 0 -6px #e3e4e5, 56px 0 0 -6px #e3e4e5,
    57px 0 0 -6px #e3e4e5, 58px 0 0 -6px #e3e4e5, 59px 0 0 -6px #e3e4e5,
    60px 0 0 -6px #e3e4e5, 61px 0 0 -6px #e3e4e5, 62px 0 0 -6px #e3e4e5,
    63px 0 0 -6px #e3e4e5, 64px 0 0 -6px #e3e4e5, 65px 0 0 -6px #e3e4e5,
    66px 0 0 -6px #e3e4e5, 67px 0 0 -6px #e3e4e5, 68px 0 0 -6px #e3e4e5,
    69px 0 0 -6px #e3e4e5, 70px 0 0 -6px #e3e4e5, 71px 0 0 -6px #e3e4e5,
    72px 0 0 -6px #e3e4e5, 73px 0 0 -6px #e3e4e5, 74px 0 0 -6px #e3e4e5,
    75px 0 0 -6px #e3e4e5, 76px 0 0 -6px #e3e4e5, 77px 0 0 -6px #e3e4e5,
    78px 0 0 -6px #e3e4e5, 79px 0 0 -6px #e3e4e5, 80px 0 0 -6px #e3e4e5,
    81px 0 0 -6px #e3e4e5, 82px 0 0 -6px #e3e4e5, 83px 0 0 -6px #e3e4e5,
    84px 0 0 -6px #e3e4e5, 85px 0 0 -6px #e3e4e5, 86px 0 0 -6px #e3e4e5,
    87px 0 0 -6px #e3e4e5, 88px 0 0 -6px #e3e4e5, 89px 0 0 -6px #e3e4e5,
    90px 0 0 -6px #e3e4e5, 91px 0 0 -6px #e3e4e5, 92px 0 0 -6px #e3e4e5,
    93px 0 0 -6px #e3e4e5, 94px 0 0 -6px #e3e4e5, 95px 0 0 -6px #e3e4e5,
    96px 0 0 -6px #e3e4e5, 97px 0 0 -6px #e3e4e5, 98px 0 0 -6px #e3e4e5,
    99px 0 0 -6px #e3e4e5, 100px 0 0 -6px #e3e4e5, 101px 0 0 -6px #e3e4e5,
    102px 0 0 -6px #e3e4e5, 103px 0 0 -6px #e3e4e5, 104px 0 0 -6px #e3e4e5,
    105px 0 0 -6px #e3e4e5, 106px 0 0 -6px #e3e4e5, 107px 0 0 -6px #e3e4e5,
    108px 0 0 -6px #e3e4e5, 109px 0 0 -6px #e3e4e5, 110px 0 0 -6px #e3e4e5,
    111px 0 0 -6px #e3e4e5, 112px 0 0 -6px #e3e4e5, 113px 0 0 -6px #e3e4e5,
    114px 0 0 -6px #e3e4e5, 115px 0 0 -6px #e3e4e5, 116px 0 0 -6px #e3e4e5,
    117px 0 0 -6px #e3e4e5, 118px 0 0 -6px #e3e4e5, 119px 0 0 -6px #e3e4e5,
    120px 0 0 -6px #e3e4e5, 121px 0 0 -6px #e3e4e5, 122px 0 0 -6px #e3e4e5,
    123px 0 0 -6px #e3e4e5, 124px 0 0 -6px #e3e4e5, 125px 0 0 -6px #e3e4e5,
    126px 0 0 -6px #e3e4e5, 127px 0 0 -6px #e3e4e5, 128px 0 0 -6px #e3e4e5,
    129px 0 0 -6px #e3e4e5, 130px 0 0 -6px #e3e4e5, 131px 0 0 -6px #e3e4e5,
    132px 0 0 -6px #e3e4e5, 133px 0 0 -6px #e3e4e5, 134px 0 0 -6px #e3e4e5,
    135px 0 0 -6px #e3e4e5, 136px 0 0 -6px #e3e4e5, 137px 0 0 -6px #e3e4e5,
    138px 0 0 -6px #e3e4e5, 139px 0 0 -6px #e3e4e5, 140px 0 0 -6px #e3e4e5,
    141px 0 0 -6px #e3e4e5, 142px 0 0 -6px #e3e4e5, 143px 0 0 -6px #e3e4e5,
    144px 0 0 -6px #e3e4e5, 145px 0 0 -6px #e3e4e5, 146px 0 0 -6px #e3e4e5,
    147px 0 0 -6px #e3e4e5, 148px 0 0 -6px #e3e4e5, 149px 0 0 -6px #e3e4e5,
    150px 0 0 -6px #e3e4e5, 151px 0 0 -6px #e3e4e5, 152px 0 0 -6px #e3e4e5,
    153px 0 0 -6px #e3e4e5, 154px 0 0 -6px #e3e4e5, 155px 0 0 -6px #e3e4e5,
    156px 0 0 -6px #e3e4e5, 157px 0 0 -6px #e3e4e5, 158px 0 0 -6px #e3e4e5,
    159px 0 0 -6px #e3e4e5, 160px 0 0 -6px #e3e4e5, 161px 0 0 -6px #e3e4e5,
    162px 0 0 -6px #e3e4e5, 163px 0 0 -6px #e3e4e5, 164px 0 0 -6px #e3e4e5,
    165px 0 0 -6px #e3e4e5, 166px 0 0 -6px #e3e4e5, 167px 0 0 -6px #e3e4e5,
    168px 0 0 -6px #e3e4e5, 169px 0 0 -6px #e3e4e5, 170px 0 0 -6px #e3e4e5,
    171px 0 0 -6px #e3e4e5, 172px 0 0 -6px #e3e4e5, 173px 0 0 -6px #e3e4e5,
    174px 0 0 -6px #e3e4e5, 175px 0 0 -6px #e3e4e5, 176px 0 0 -6px #e3e4e5,
    177px 0 0 -6px #e3e4e5, 178px 0 0 -6px #e3e4e5, 179px 0 0 -6px #e3e4e5,
    180px 0 0 -6px #e3e4e5, 181px 0 0 -6px #e3e4e5, 182px 0 0 -6px #e3e4e5,
    183px 0 0 -6px #e3e4e5, 184px 0 0 -6px #e3e4e5, 185px 0 0 -6px #e3e4e5,
    186px 0 0 -6px #e3e4e5, 187px 0 0 -6px #e3e4e5, 188px 0 0 -6px #e3e4e5,
    189px 0 0 -6px #e3e4e5, 190px 0 0 -6px #e3e4e5, 191px 0 0 -6px #e3e4e5,
    192px 0 0 -6px #e3e4e5, 193px 0 0 -6px #e3e4e5, 194px 0 0 -6px #e3e4e5,
    195px 0 0 -6px #e3e4e5, 196px 0 0 -6px #e3e4e5, 197px 0 0 -6px #e3e4e5,
    198px 0 0 -6px #e3e4e5, 199px 0 0 -6px #e3e4e5, 200px 0 0 -6px #e3e4e5,
    201px 0 0 -6px #e3e4e5, 202px 0 0 -6px #e3e4e5, 203px 0 0 -6px #e3e4e5,
    204px 0 0 -6px #e3e4e5, 205px 0 0 -6px #e3e4e5, 206px 0 0 -6px #e3e4e5,
    207px 0 0 -6px #e3e4e5, 208px 0 0 -6px #e3e4e5, 209px 0 0 -6px #e3e4e5,
    210px 0 0 -6px #e3e4e5, 211px 0 0 -6px #e3e4e5, 212px 0 0 -6px #e3e4e5,
    213px 0 0 -6px #e3e4e5, 214px 0 0 -6px #e3e4e5, 215px 0 0 -6px #e3e4e5,
    216px 0 0 -6px #e3e4e5, 217px 0 0 -6px #e3e4e5, 218px 0 0 -6px #e3e4e5,
    219px 0 0 -6px #e3e4e5, 220px 0 0 -6px #e3e4e5, 221px 0 0 -6px #e3e4e5,
    222px 0 0 -6px #e3e4e5, 223px 0 0 -6px #e3e4e5, 224px 0 0 -6px #e3e4e5,
    225px 0 0 -6px #e3e4e5, 226px 0 0 -6px #e3e4e5, 227px 0 0 -6px #e3e4e5,
    228px 0 0 -6px #e3e4e5, 229px 0 0 -6px #e3e4e5, 230px 0 0 -6px #e3e4e5,
    231px 0 0 -6px #e3e4e5, 232px 0 0 -6px #e3e4e5, 233px 0 0 -6px #e3e4e5,
    234px 0 0 -6px #e3e4e5, 235px 0 0 -6px #e3e4e5, 236px 0 0 -6px #e3e4e5,
    237px 0 0 -6px #e3e4e5, 238px 0 0 -6px #e3e4e5, 239px 0 0 -6px #e3e4e5,
    240px 0 0 -6px #e3e4e5, 241px 0 0 -6px #e3e4e5, 242px 0 0 -6px #e3e4e5,
    243px 0 0 -6px #e3e4e5, 244px 0 0 -6px #e3e4e5, 245px 0 0 -6px #e3e4e5,
    246px 0 0 -6px #e3e4e5, 247px 0 0 -6px #e3e4e5, 248px 0 0 -6px #e3e4e5,
    249px 0 0 -6px #e3e4e5, 250px 0 0 -6px #e3e4e5, 251px 0 0 -6px #e3e4e5,
    252px 0 0 -6px #e3e4e5, 253px 0 0 -6px #e3e4e5, 254px 0 0 -6px #e3e4e5,
    255px 0 0 -6px #e3e4e5, 256px 0 0 -6px #e3e4e5, 257px 0 0 -6px #e3e4e5,
    258px 0 0 -6px #e3e4e5, 259px 0 0 -6px #e3e4e5, 260px 0 0 -6px #e3e4e5,
    261px 0 0 -6px #e3e4e5, 262px 0 0 -6px #e3e4e5, 263px 0 0 -6px #e3e4e5,
    264px 0 0 -6px #e3e4e5, 265px 0 0 -6px #e3e4e5, 266px 0 0 -6px #e3e4e5,
    267px 0 0 -6px #e3e4e5, 268px 0 0 -6px #e3e4e5, 269px 0 0 -6px #e3e4e5,
    270px 0 0 -6px #e3e4e5, 271px 0 0 -6px #e3e4e5, 272px 0 0 -6px #e3e4e5,
    273px 0 0 -6px #e3e4e5, 274px 0 0 -6px #e3e4e5, 275px 0 0 -6px #e3e4e5,
    276px 0 0 -6px #e3e4e5, 277px 0 0 -6px #e3e4e5, 278px 0 0 -6px #e3e4e5,
    279px 0 0 -6px #e3e4e5, 280px 0 0 -6px #e3e4e5, 281px 0 0 -6px #e3e4e5,
    282px 0 0 -6px #e3e4e5, 283px 0 0 -6px #e3e4e5, 284px 0 0 -6px #e3e4e5,
    285px 0 0 -6px #e3e4e5, 286px 0 0 -6px #e3e4e5, 287px 0 0 -6px #e3e4e5,
    288px 0 0 -6px #e3e4e5, 289px 0 0 -6px #e3e4e5, 290px 0 0 -6px #e3e4e5,
    291px 0 0 -6px #e3e4e5, 292px 0 0 -6px #e3e4e5, 293px 0 0 -6px #e3e4e5,
    294px 0 0 -6px #e3e4e5, 295px 0 0 -6px #e3e4e5, 296px 0 0 -6px #e3e4e5,
    297px 0 0 -6px #e3e4e5, 298px 0 0 -6px #e3e4e5, 299px 0 0 -6px #e3e4e5,
    300px 0 0 -6px #e3e4e5, 301px 0 0 -6px #e3e4e5, 302px 0 0 -6px #e3e4e5,
    303px 0 0 -6px #e3e4e5, 304px 0 0 -6px #e3e4e5, 305px 0 0 -6px #e3e4e5,
    306px 0 0 -6px #e3e4e5, 307px 0 0 -6px #e3e4e5, 308px 0 0 -6px #e3e4e5,
    309px 0 0 -6px #e3e4e5, 310px 0 0 -6px #e3e4e5, 311px 0 0 -6px #e3e4e5,
    312px 0 0 -6px #e3e4e5, 313px 0 0 -6px #e3e4e5, 314px 0 0 -6px #e3e4e5,
    315px 0 0 -6px #e3e4e5, 316px 0 0 -6px #e3e4e5, 317px 0 0 -6px #e3e4e5,
    318px 0 0 -6px #e3e4e5, 319px 0 0 -6px #e3e4e5, 320px 0 0 -6px #e3e4e5,
    321px 0 0 -6px #e3e4e5, 322px 0 0 -6px #e3e4e5, 323px 0 0 -6px #e3e4e5,
    324px 0 0 -6px #e3e4e5, 325px 0 0 -6px #e3e4e5, 326px 0 0 -6px #e3e4e5,
    327px 0 0 -6px #e3e4e5, 328px 0 0 -6px #e3e4e5, 329px 0 0 -6px #e3e4e5,
    330px 0 0 -6px #e3e4e5, 331px 0 0 -6px #e3e4e5, 332px 0 0 -6px #e3e4e5,
    333px 0 0 -6px #e3e4e5, 334px 0 0 -6px #e3e4e5, 335px 0 0 -6px #e3e4e5,
    336px 0 0 -6px #e3e4e5, 337px 0 0 -6px #e3e4e5, 338px 0 0 -6px #e3e4e5,
    339px 0 0 -6px #e3e4e5, 340px 0 0 -6px #e3e4e5, 341px 0 0 -6px #e3e4e5,
    342px 0 0 -6px #e3e4e5, 343px 0 0 -6px #e3e4e5, 344px 0 0 -6px #e3e4e5,
    345px 0 0 -6px #e3e4e5, 346px 0 0 -6px #e3e4e5, 347px 0 0 -6px #e3e4e5,
    348px 0 0 -6px #e3e4e5, 349px 0 0 -6px #e3e4e5, 350px 0 0 -6px #e3e4e5,
    351px 0 0 -6px #e3e4e5, 352px 0 0 -6px #e3e4e5, 353px 0 0 -6px #e3e4e5,
    354px 0 0 -6px #e3e4e5, 355px 0 0 -6px #e3e4e5, 356px 0 0 -6px #e3e4e5,
    357px 0 0 -6px #e3e4e5, 358px 0 0 -6px #e3e4e5, 359px 0 0 -6px #e3e4e5,
    360px 0 0 -6px #e3e4e5, 361px 0 0 -6px #e3e4e5, 362px 0 0 -6px #e3e4e5,
    363px 0 0 -6px #e3e4e5, 364px 0 0 -6px #e3e4e5, 365px 0 0 -6px #e3e4e5,
    366px 0 0 -6px #e3e4e5, 367px 0 0 -6px #e3e4e5, 368px 0 0 -6px #e3e4e5,
    369px 0 0 -6px #e3e4e5, 370px 0 0 -6px #e3e4e5, 371px 0 0 -6px #e3e4e5,
    372px 0 0 -6px #e3e4e5, 373px 0 0 -6px #e3e4e5, 374px 0 0 -6px #e3e4e5,
    375px 0 0 -6px #e3e4e5, 376px 0 0 -6px #e3e4e5, 377px 0 0 -6px #e3e4e5,
    378px 0 0 -6px #e3e4e5, 379px 0 0 -6px #e3e4e5, 380px 0 0 -6px #e3e4e5,
    381px 0 0 -6px #e3e4e5, 382px 0 0 -6px #e3e4e5, 383px 0 0 -6px #e3e4e5,
    384px 0 0 -6px #e3e4e5, 385px 0 0 -6px #e3e4e5, 386px 0 0 -6px #e3e4e5,
    387px 0 0 -6px #e3e4e5, 388px 0 0 -6px #e3e4e5, 389px 0 0 -6px #e3e4e5,
    390px 0 0 -6px #e3e4e5, 391px 0 0 -6px #e3e4e5, 392px 0 0 -6px #e3e4e5,
    393px 0 0 -6px #e3e4e5, 394px 0 0 -6px #e3e4e5, 395px 0 0 -6px #e3e4e5,
    396px 0 0 -6px #e3e4e5, 397px 0 0 -6px #e3e4e5, 398px 0 0 -6px #e3e4e5,
    399px 0 0 -6px #e3e4e5, 400px 0 0 -6px #e3e4e5, 401px 0 0 -6px #e3e4e5,
    402px 0 0 -6px #e3e4e5, 403px 0 0 -6px #e3e4e5, 404px 0 0 -6px #e3e4e5,
    405px 0 0 -6px #e3e4e5, 406px 0 0 -6px #e3e4e5, 407px 0 0 -6px #e3e4e5,
    408px 0 0 -6px #e3e4e5, 409px 0 0 -6px #e3e4e5, 410px 0 0 -6px #e3e4e5,
    411px 0 0 -6px #e3e4e5, 412px 0 0 -6px #e3e4e5, 413px 0 0 -6px #e3e4e5,
    414px 0 0 -6px #e3e4e5, 415px 0 0 -6px #e3e4e5, 416px 0 0 -6px #e3e4e5,
    417px 0 0 -6px #e3e4e5, 418px 0 0 -6px #e3e4e5, 419px 0 0 -6px #e3e4e5,
    420px 0 0 -6px #e3e4e5, 421px 0 0 -6px #e3e4e5, 422px 0 0 -6px #e3e4e5,
    423px 0 0 -6px #e3e4e5, 424px 0 0 -6px #e3e4e5, 425px 0 0 -6px #e3e4e5,
    426px 0 0 -6px #e3e4e5, 427px 0 0 -6px #e3e4e5, 428px 0 0 -6px #e3e4e5,
    429px 0 0 -6px #e3e4e5, 430px 0 0 -6px #e3e4e5, 431px 0 0 -6px #e3e4e5,
    432px 0 0 -6px #e3e4e5, 433px 0 0 -6px #e3e4e5, 434px 0 0 -6px #e3e4e5,
    435px 0 0 -6px #e3e4e5, 436px 0 0 -6px #e3e4e5, 437px 0 0 -6px #e3e4e5,
    438px 0 0 -6px #e3e4e5, 439px 0 0 -6px #e3e4e5, 440px 0 0 -6px #e3e4e5,
    441px 0 0 -6px #e3e4e5, 442px 0 0 -6px #e3e4e5, 443px 0 0 -6px #e3e4e5,
    444px 0 0 -6px #e3e4e5, 445px 0 0 -6px #e3e4e5, 446px 0 0 -6px #e3e4e5,
    447px 0 0 -6px #e3e4e5, 448px 0 0 -6px #e3e4e5, 449px 0 0 -6px #e3e4e5,
    450px 0 0 -6px #e3e4e5, 451px 0 0 -6px #e3e4e5, 452px 0 0 -6px #e3e4e5,
    453px 0 0 -6px #e3e4e5, 454px 0 0 -6px #e3e4e5, 455px 0 0 -6px #e3e4e5,
    456px 0 0 -6px #e3e4e5, 457px 0 0 -6px #e3e4e5, 458px 0 0 -6px #e3e4e5,
    459px 0 0 -6px #e3e4e5, 460px 0 0 -6px #e3e4e5, 461px 0 0 -6px #e3e4e5,
    462px 0 0 -6px #e3e4e5, 463px 0 0 -6px #e3e4e5, 464px 0 0 -6px #e3e4e5,
    465px 0 0 -6px #e3e4e5, 466px 0 0 -6px #e3e4e5, 467px 0 0 -6px #e3e4e5,
    468px 0 0 -6px #e3e4e5, 469px 0 0 -6px #e3e4e5, 470px 0 0 -6px #e3e4e5,
    471px 0 0 -6px #e3e4e5, 472px 0 0 -6px #e3e4e5, 473px 0 0 -6px #e3e4e5,
    474px 0 0 -6px #e3e4e5, 475px 0 0 -6px #e3e4e5, 476px 0 0 -6px #e3e4e5,
    477px 0 0 -6px #e3e4e5, 478px 0 0 -6px #e3e4e5, 479px 0 0 -6px #e3e4e5,
    480px 0 0 -6px #e3e4e5, 481px 0 0 -6px #e3e4e5, 482px 0 0 -6px #e3e4e5,
    483px 0 0 -6px #e3e4e5, 484px 0 0 -6px #e3e4e5, 485px 0 0 -6px #e3e4e5,
    486px 0 0 -6px #e3e4e5, 487px 0 0 -6px #e3e4e5, 488px 0 0 -6px #e3e4e5,
    489px 0 0 -6px #e3e4e5, 490px 0 0 -6px #e3e4e5, 491px 0 0 -6px #e3e4e5,
    492px 0 0 -6px #e3e4e5, 493px 0 0 -6px #e3e4e5, 494px 0 0 -6px #e3e4e5,
    495px 0 0 -6px #e3e4e5, 496px 0 0 -6px #e3e4e5, 497px 0 0 -6px #e3e4e5,
    498px 0 0 -6px #e3e4e5, 499px 0 0 -6px #e3e4e5, 500px 0 0 -6px #e3e4e5,
    501px 0 0 -6px #e3e4e5, 502px 0 0 -6px #e3e4e5, 503px 0 0 -6px #e3e4e5,
    504px 0 0 -6px #e3e4e5, 505px 0 0 -6px #e3e4e5, 506px 0 0 -6px #e3e4e5,
    507px 0 0 -6px #e3e4e5, 508px 0 0 -6px #e3e4e5, 509px 0 0 -6px #e3e4e5,
    510px 0 0 -6px #e3e4e5, 511px 0 0 -6px #e3e4e5, 512px 0 0 -6px #e3e4e5;
}

input[type='range'].orion-slider:active::-moz-range-thumb,
input[type='range'].orion-slider:focus::-moz-range-thumb {
  @apply shadow-field-active;
}

/**
*** Track
**/
input[type='range'].orion-slider::-webkit-slider-runnable-track {
  @apply w-full h-4 cursor-pointer bg-wave-500;
}

input[type='range'].orion-slider::-moz-range-track {
  @apply w-full h-4 cursor-pointer bg-gray-900-16;
}

/* progress */
input[type='range'].orion-slider::-moz-range-progress {
  @apply bg-wave-500 h-4 cursor-pointer;
}

input[type='range'].orion-slider::-webkit-slider-thumb {
  box-shadow: 5px 0 0 -6px #e3e4e5, 6px 0 0 -6px #e3e4e5, 7px 0 0 -6px #e3e4e5,
    8px 0 0 -6px #e3e4e5, 9px 0 0 -6px #e3e4e5, 10px 0 0 -6px #e3e4e5,
    11px 0 0 -6px #e3e4e5, 12px 0 0 -6px #e3e4e5, 13px 0 0 -6px #e3e4e5,
    14px 0 0 -6px #e3e4e5, 15px 0 0 -6px #e3e4e5, 16px 0 0 -6px #e3e4e5,
    17px 0 0 -6px #e3e4e5, 18px 0 0 -6px #e3e4e5, 19px 0 0 -6px #e3e4e5,
    20px 0 0 -6px #e3e4e5, 21px 0 0 -6px #e3e4e5, 22px 0 0 -6px #e3e4e5,
    23px 0 0 -6px #e3e4e5, 24px 0 0 -6px #e3e4e5, 25px 0 0 -6px #e3e4e5,
    26px 0 0 -6px #e3e4e5, 27px 0 0 -6px #e3e4e5, 28px 0 0 -6px #e3e4e5,
    29px 0 0 -6px #e3e4e5, 30px 0 0 -6px #e3e4e5, 31px 0 0 -6px #e3e4e5,
    32px 0 0 -6px #e3e4e5, 33px 0 0 -6px #e3e4e5, 34px 0 0 -6px #e3e4e5,
    35px 0 0 -6px #e3e4e5, 36px 0 0 -6px #e3e4e5, 37px 0 0 -6px #e3e4e5,
    38px 0 0 -6px #e3e4e5, 39px 0 0 -6px #e3e4e5, 40px 0 0 -6px #e3e4e5,
    41px 0 0 -6px #e3e4e5, 42px 0 0 -6px #e3e4e5, 43px 0 0 -6px #e3e4e5,
    44px 0 0 -6px #e3e4e5, 45px 0 0 -6px #e3e4e5, 46px 0 0 -6px #e3e4e5,
    47px 0 0 -6px #e3e4e5, 48px 0 0 -6px #e3e4e5, 49px 0 0 -6px #e3e4e5,
    50px 0 0 -6px #e3e4e5, 51px 0 0 -6px #e3e4e5, 52px 0 0 -6px #e3e4e5,
    53px 0 0 -6px #e3e4e5, 54px 0 0 -6px #e3e4e5, 55px 0 0 -6px #e3e4e5,
    56px 0 0 -6px #e3e4e5, 57px 0 0 -6px #e3e4e5, 58px 0 0 -6px #e3e4e5,
    59px 0 0 -6px #e3e4e5, 60px 0 0 -6px #e3e4e5, 61px 0 0 -6px #e3e4e5,
    62px 0 0 -6px #e3e4e5, 63px 0 0 -6px #e3e4e5, 64px 0 0 -6px #e3e4e5,
    65px 0 0 -6px #e3e4e5, 66px 0 0 -6px #e3e4e5, 67px 0 0 -6px #e3e4e5,
    68px 0 0 -6px #e3e4e5, 69px 0 0 -6px #e3e4e5, 70px 0 0 -6px #e3e4e5,
    71px 0 0 -6px #e3e4e5, 72px 0 0 -6px #e3e4e5, 73px 0 0 -6px #e3e4e5,
    74px 0 0 -6px #e3e4e5, 75px 0 0 -6px #e3e4e5, 76px 0 0 -6px #e3e4e5,
    77px 0 0 -6px #e3e4e5, 78px 0 0 -6px #e3e4e5, 79px 0 0 -6px #e3e4e5,
    80px 0 0 -6px #e3e4e5, 81px 0 0 -6px #e3e4e5, 82px 0 0 -6px #e3e4e5,
    83px 0 0 -6px #e3e4e5, 84px 0 0 -6px #e3e4e5, 85px 0 0 -6px #e3e4e5,
    86px 0 0 -6px #e3e4e5, 87px 0 0 -6px #e3e4e5, 88px 0 0 -6px #e3e4e5,
    89px 0 0 -6px #e3e4e5, 90px 0 0 -6px #e3e4e5, 91px 0 0 -6px #e3e4e5,
    92px 0 0 -6px #e3e4e5, 93px 0 0 -6px #e3e4e5, 94px 0 0 -6px #e3e4e5,
    95px 0 0 -6px #e3e4e5, 96px 0 0 -6px #e3e4e5, 97px 0 0 -6px #e3e4e5,
    98px 0 0 -6px #e3e4e5, 99px 0 0 -6px #e3e4e5, 100px 0 0 -6px #e3e4e5,
    101px 0 0 -6px #e3e4e5, 102px 0 0 -6px #e3e4e5, 103px 0 0 -6px #e3e4e5,
    104px 0 0 -6px #e3e4e5, 105px 0 0 -6px #e3e4e5, 106px 0 0 -6px #e3e4e5,
    107px 0 0 -6px #e3e4e5, 108px 0 0 -6px #e3e4e5, 109px 0 0 -6px #e3e4e5,
    110px 0 0 -6px #e3e4e5, 111px 0 0 -6px #e3e4e5, 112px 0 0 -6px #e3e4e5,
    113px 0 0 -6px #e3e4e5, 114px 0 0 -6px #e3e4e5, 115px 0 0 -6px #e3e4e5,
    116px 0 0 -6px #e3e4e5, 117px 0 0 -6px #e3e4e5, 118px 0 0 -6px #e3e4e5,
    119px 0 0 -6px #e3e4e5, 120px 0 0 -6px #e3e4e5, 121px 0 0 -6px #e3e4e5,
    122px 0 0 -6px #e3e4e5, 123px 0 0 -6px #e3e4e5, 124px 0 0 -6px #e3e4e5,
    125px 0 0 -6px #e3e4e5, 126px 0 0 -6px #e3e4e5, 127px 0 0 -6px #e3e4e5,
    128px 0 0 -6px #e3e4e5, 129px 0 0 -6px #e3e4e5, 130px 0 0 -6px #e3e4e5,
    131px 0 0 -6px #e3e4e5, 132px 0 0 -6px #e3e4e5, 133px 0 0 -6px #e3e4e5,
    134px 0 0 -6px #e3e4e5, 135px 0 0 -6px #e3e4e5, 136px 0 0 -6px #e3e4e5,
    137px 0 0 -6px #e3e4e5, 138px 0 0 -6px #e3e4e5, 139px 0 0 -6px #e3e4e5,
    140px 0 0 -6px #e3e4e5, 141px 0 0 -6px #e3e4e5, 142px 0 0 -6px #e3e4e5,
    143px 0 0 -6px #e3e4e5, 144px 0 0 -6px #e3e4e5, 145px 0 0 -6px #e3e4e5,
    146px 0 0 -6px #e3e4e5, 147px 0 0 -6px #e3e4e5, 148px 0 0 -6px #e3e4e5,
    149px 0 0 -6px #e3e4e5, 150px 0 0 -6px #e3e4e5, 151px 0 0 -6px #e3e4e5,
    152px 0 0 -6px #e3e4e5, 153px 0 0 -6px #e3e4e5, 154px 0 0 -6px #e3e4e5,
    155px 0 0 -6px #e3e4e5, 156px 0 0 -6px #e3e4e5, 157px 0 0 -6px #e3e4e5,
    158px 0 0 -6px #e3e4e5, 159px 0 0 -6px #e3e4e5, 160px 0 0 -6px #e3e4e5,
    161px 0 0 -6px #e3e4e5, 162px 0 0 -6px #e3e4e5, 163px 0 0 -6px #e3e4e5,
    164px 0 0 -6px #e3e4e5, 165px 0 0 -6px #e3e4e5, 166px 0 0 -6px #e3e4e5,
    167px 0 0 -6px #e3e4e5, 168px 0 0 -6px #e3e4e5, 169px 0 0 -6px #e3e4e5,
    170px 0 0 -6px #e3e4e5, 171px 0 0 -6px #e3e4e5, 172px 0 0 -6px #e3e4e5,
    173px 0 0 -6px #e3e4e5, 174px 0 0 -6px #e3e4e5, 175px 0 0 -6px #e3e4e5,
    176px 0 0 -6px #e3e4e5, 177px 0 0 -6px #e3e4e5, 178px 0 0 -6px #e3e4e5,
    179px 0 0 -6px #e3e4e5, 180px 0 0 -6px #e3e4e5, 181px 0 0 -6px #e3e4e5,
    182px 0 0 -6px #e3e4e5, 183px 0 0 -6px #e3e4e5, 184px 0 0 -6px #e3e4e5,
    185px 0 0 -6px #e3e4e5, 186px 0 0 -6px #e3e4e5, 187px 0 0 -6px #e3e4e5,
    188px 0 0 -6px #e3e4e5, 189px 0 0 -6px #e3e4e5, 190px 0 0 -6px #e3e4e5,
    191px 0 0 -6px #e3e4e5, 192px 0 0 -6px #e3e4e5, 193px 0 0 -6px #e3e4e5,
    194px 0 0 -6px #e3e4e5, 195px 0 0 -6px #e3e4e5, 196px 0 0 -6px #e3e4e5,
    197px 0 0 -6px #e3e4e5, 198px 0 0 -6px #e3e4e5, 199px 0 0 -6px #e3e4e5,
    200px 0 0 -6px #e3e4e5, 201px 0 0 -6px #e3e4e5, 202px 0 0 -6px #e3e4e5,
    203px 0 0 -6px #e3e4e5, 204px 0 0 -6px #e3e4e5, 205px 0 0 -6px #e3e4e5,
    206px 0 0 -6px #e3e4e5, 207px 0 0 -6px #e3e4e5, 208px 0 0 -6px #e3e4e5,
    209px 0 0 -6px #e3e4e5, 210px 0 0 -6px #e3e4e5, 211px 0 0 -6px #e3e4e5,
    212px 0 0 -6px #e3e4e5, 213px 0 0 -6px #e3e4e5, 214px 0 0 -6px #e3e4e5,
    215px 0 0 -6px #e3e4e5, 216px 0 0 -6px #e3e4e5, 217px 0 0 -6px #e3e4e5,
    218px 0 0 -6px #e3e4e5, 219px 0 0 -6px #e3e4e5, 220px 0 0 -6px #e3e4e5,
    221px 0 0 -6px #e3e4e5, 222px 0 0 -6px #e3e4e5, 223px 0 0 -6px #e3e4e5,
    224px 0 0 -6px #e3e4e5, 225px 0 0 -6px #e3e4e5, 226px 0 0 -6px #e3e4e5,
    227px 0 0 -6px #e3e4e5, 228px 0 0 -6px #e3e4e5, 229px 0 0 -6px #e3e4e5,
    230px 0 0 -6px #e3e4e5, 231px 0 0 -6px #e3e4e5, 232px 0 0 -6px #e3e4e5,
    233px 0 0 -6px #e3e4e5, 234px 0 0 -6px #e3e4e5, 235px 0 0 -6px #e3e4e5,
    236px 0 0 -6px #e3e4e5, 237px 0 0 -6px #e3e4e5, 238px 0 0 -6px #e3e4e5,
    239px 0 0 -6px #e3e4e5, 240px 0 0 -6px #e3e4e5, 241px 0 0 -6px #e3e4e5,
    242px 0 0 -6px #e3e4e5, 243px 0 0 -6px #e3e4e5, 244px 0 0 -6px #e3e4e5,
    245px 0 0 -6px #e3e4e5, 246px 0 0 -6px #e3e4e5, 247px 0 0 -6px #e3e4e5,
    248px 0 0 -6px #e3e4e5, 249px 0 0 -6px #e3e4e5, 250px 0 0 -6px #e3e4e5,
    251px 0 0 -6px #e3e4e5, 252px 0 0 -6px #e3e4e5, 253px 0 0 -6px #e3e4e5,
    254px 0 0 -6px #e3e4e5, 255px 0 0 -6px #e3e4e5, 256px 0 0 -6px #e3e4e5,
    257px 0 0 -6px #e3e4e5, 258px 0 0 -6px #e3e4e5, 259px 0 0 -6px #e3e4e5,
    260px 0 0 -6px #e3e4e5, 261px 0 0 -6px #e3e4e5, 262px 0 0 -6px #e3e4e5,
    263px 0 0 -6px #e3e4e5, 264px 0 0 -6px #e3e4e5, 265px 0 0 -6px #e3e4e5,
    266px 0 0 -6px #e3e4e5, 267px 0 0 -6px #e3e4e5, 268px 0 0 -6px #e3e4e5,
    269px 0 0 -6px #e3e4e5, 270px 0 0 -6px #e3e4e5, 271px 0 0 -6px #e3e4e5,
    272px 0 0 -6px #e3e4e5, 273px 0 0 -6px #e3e4e5, 274px 0 0 -6px #e3e4e5,
    275px 0 0 -6px #e3e4e5, 276px 0 0 -6px #e3e4e5, 277px 0 0 -6px #e3e4e5,
    278px 0 0 -6px #e3e4e5, 279px 0 0 -6px #e3e4e5, 280px 0 0 -6px #e3e4e5,
    281px 0 0 -6px #e3e4e5, 282px 0 0 -6px #e3e4e5, 283px 0 0 -6px #e3e4e5,
    284px 0 0 -6px #e3e4e5, 285px 0 0 -6px #e3e4e5, 286px 0 0 -6px #e3e4e5,
    287px 0 0 -6px #e3e4e5, 288px 0 0 -6px #e3e4e5, 289px 0 0 -6px #e3e4e5,
    290px 0 0 -6px #e3e4e5, 291px 0 0 -6px #e3e4e5, 292px 0 0 -6px #e3e4e5,
    293px 0 0 -6px #e3e4e5, 294px 0 0 -6px #e3e4e5, 295px 0 0 -6px #e3e4e5,
    296px 0 0 -6px #e3e4e5, 297px 0 0 -6px #e3e4e5, 298px 0 0 -6px #e3e4e5,
    299px 0 0 -6px #e3e4e5, 300px 0 0 -6px #e3e4e5, 301px 0 0 -6px #e3e4e5,
    302px 0 0 -6px #e3e4e5, 303px 0 0 -6px #e3e4e5, 304px 0 0 -6px #e3e4e5,
    305px 0 0 -6px #e3e4e5, 306px 0 0 -6px #e3e4e5, 307px 0 0 -6px #e3e4e5,
    308px 0 0 -6px #e3e4e5, 309px 0 0 -6px #e3e4e5, 310px 0 0 -6px #e3e4e5,
    311px 0 0 -6px #e3e4e5, 312px 0 0 -6px #e3e4e5, 313px 0 0 -6px #e3e4e5,
    314px 0 0 -6px #e3e4e5, 315px 0 0 -6px #e3e4e5, 316px 0 0 -6px #e3e4e5,
    317px 0 0 -6px #e3e4e5, 318px 0 0 -6px #e3e4e5, 319px 0 0 -6px #e3e4e5,
    320px 0 0 -6px #e3e4e5, 321px 0 0 -6px #e3e4e5, 322px 0 0 -6px #e3e4e5,
    323px 0 0 -6px #e3e4e5, 324px 0 0 -6px #e3e4e5, 325px 0 0 -6px #e3e4e5,
    326px 0 0 -6px #e3e4e5, 327px 0 0 -6px #e3e4e5, 328px 0 0 -6px #e3e4e5,
    329px 0 0 -6px #e3e4e5, 330px 0 0 -6px #e3e4e5, 331px 0 0 -6px #e3e4e5,
    332px 0 0 -6px #e3e4e5, 333px 0 0 -6px #e3e4e5, 334px 0 0 -6px #e3e4e5,
    335px 0 0 -6px #e3e4e5, 336px 0 0 -6px #e3e4e5, 337px 0 0 -6px #e3e4e5,
    338px 0 0 -6px #e3e4e5, 339px 0 0 -6px #e3e4e5, 340px 0 0 -6px #e3e4e5,
    341px 0 0 -6px #e3e4e5, 342px 0 0 -6px #e3e4e5, 343px 0 0 -6px #e3e4e5,
    344px 0 0 -6px #e3e4e5, 345px 0 0 -6px #e3e4e5, 346px 0 0 -6px #e3e4e5,
    347px 0 0 -6px #e3e4e5, 348px 0 0 -6px #e3e4e5, 349px 0 0 -6px #e3e4e5,
    350px 0 0 -6px #e3e4e5, 351px 0 0 -6px #e3e4e5, 352px 0 0 -6px #e3e4e5,
    353px 0 0 -6px #e3e4e5, 354px 0 0 -6px #e3e4e5, 355px 0 0 -6px #e3e4e5,
    356px 0 0 -6px #e3e4e5, 357px 0 0 -6px #e3e4e5, 358px 0 0 -6px #e3e4e5,
    359px 0 0 -6px #e3e4e5, 360px 0 0 -6px #e3e4e5, 361px 0 0 -6px #e3e4e5,
    362px 0 0 -6px #e3e4e5, 363px 0 0 -6px #e3e4e5, 364px 0 0 -6px #e3e4e5,
    365px 0 0 -6px #e3e4e5, 366px 0 0 -6px #e3e4e5, 367px 0 0 -6px #e3e4e5,
    368px 0 0 -6px #e3e4e5, 369px 0 0 -6px #e3e4e5, 370px 0 0 -6px #e3e4e5,
    371px 0 0 -6px #e3e4e5, 372px 0 0 -6px #e3e4e5, 373px 0 0 -6px #e3e4e5,
    374px 0 0 -6px #e3e4e5, 375px 0 0 -6px #e3e4e5, 376px 0 0 -6px #e3e4e5,
    377px 0 0 -6px #e3e4e5, 378px 0 0 -6px #e3e4e5, 379px 0 0 -6px #e3e4e5,
    380px 0 0 -6px #e3e4e5, 381px 0 0 -6px #e3e4e5, 382px 0 0 -6px #e3e4e5,
    383px 0 0 -6px #e3e4e5, 384px 0 0 -6px #e3e4e5, 385px 0 0 -6px #e3e4e5,
    386px 0 0 -6px #e3e4e5, 387px 0 0 -6px #e3e4e5, 388px 0 0 -6px #e3e4e5,
    389px 0 0 -6px #e3e4e5, 390px 0 0 -6px #e3e4e5, 391px 0 0 -6px #e3e4e5,
    392px 0 0 -6px #e3e4e5, 393px 0 0 -6px #e3e4e5, 394px 0 0 -6px #e3e4e5,
    395px 0 0 -6px #e3e4e5, 396px 0 0 -6px #e3e4e5, 397px 0 0 -6px #e3e4e5,
    398px 0 0 -6px #e3e4e5, 399px 0 0 -6px #e3e4e5, 400px 0 0 -6px #e3e4e5,
    401px 0 0 -6px #e3e4e5, 402px 0 0 -6px #e3e4e5, 403px 0 0 -6px #e3e4e5,
    404px 0 0 -6px #e3e4e5, 405px 0 0 -6px #e3e4e5, 406px 0 0 -6px #e3e4e5,
    407px 0 0 -6px #e3e4e5, 408px 0 0 -6px #e3e4e5, 409px 0 0 -6px #e3e4e5,
    410px 0 0 -6px #e3e4e5, 411px 0 0 -6px #e3e4e5, 412px 0 0 -6px #e3e4e5,
    413px 0 0 -6px #e3e4e5, 414px 0 0 -6px #e3e4e5, 415px 0 0 -6px #e3e4e5,
    416px 0 0 -6px #e3e4e5, 417px 0 0 -6px #e3e4e5, 418px 0 0 -6px #e3e4e5,
    419px 0 0 -6px #e3e4e5, 420px 0 0 -6px #e3e4e5, 421px 0 0 -6px #e3e4e5,
    422px 0 0 -6px #e3e4e5, 423px 0 0 -6px #e3e4e5, 424px 0 0 -6px #e3e4e5,
    425px 0 0 -6px #e3e4e5, 426px 0 0 -6px #e3e4e5, 427px 0 0 -6px #e3e4e5,
    428px 0 0 -6px #e3e4e5, 429px 0 0 -6px #e3e4e5, 430px 0 0 -6px #e3e4e5,
    431px 0 0 -6px #e3e4e5, 432px 0 0 -6px #e3e4e5, 433px 0 0 -6px #e3e4e5,
    434px 0 0 -6px #e3e4e5, 435px 0 0 -6px #e3e4e5, 436px 0 0 -6px #e3e4e5,
    437px 0 0 -6px #e3e4e5, 438px 0 0 -6px #e3e4e5, 439px 0 0 -6px #e3e4e5,
    440px 0 0 -6px #e3e4e5, 441px 0 0 -6px #e3e4e5, 442px 0 0 -6px #e3e4e5,
    443px 0 0 -6px #e3e4e5, 444px 0 0 -6px #e3e4e5, 445px 0 0 -6px #e3e4e5,
    446px 0 0 -6px #e3e4e5, 447px 0 0 -6px #e3e4e5, 448px 0 0 -6px #e3e4e5,
    449px 0 0 -6px #e3e4e5, 450px 0 0 -6px #e3e4e5, 451px 0 0 -6px #e3e4e5,
    452px 0 0 -6px #e3e4e5, 453px 0 0 -6px #e3e4e5, 454px 0 0 -6px #e3e4e5,
    455px 0 0 -6px #e3e4e5, 456px 0 0 -6px #e3e4e5, 457px 0 0 -6px #e3e4e5,
    458px 0 0 -6px #e3e4e5, 459px 0 0 -6px #e3e4e5, 460px 0 0 -6px #e3e4e5,
    461px 0 0 -6px #e3e4e5, 462px 0 0 -6px #e3e4e5, 463px 0 0 -6px #e3e4e5,
    464px 0 0 -6px #e3e4e5, 465px 0 0 -6px #e3e4e5, 466px 0 0 -6px #e3e4e5,
    467px 0 0 -6px #e3e4e5, 468px 0 0 -6px #e3e4e5, 469px 0 0 -6px #e3e4e5,
    470px 0 0 -6px #e3e4e5, 471px 0 0 -6px #e3e4e5, 472px 0 0 -6px #e3e4e5,
    473px 0 0 -6px #e3e4e5, 474px 0 0 -6px #e3e4e5, 475px 0 0 -6px #e3e4e5,
    476px 0 0 -6px #e3e4e5, 477px 0 0 -6px #e3e4e5, 478px 0 0 -6px #e3e4e5,
    479px 0 0 -6px #e3e4e5, 480px 0 0 -6px #e3e4e5, 481px 0 0 -6px #e3e4e5,
    482px 0 0 -6px #e3e4e5, 483px 0 0 -6px #e3e4e5, 484px 0 0 -6px #e3e4e5,
    485px 0 0 -6px #e3e4e5, 486px 0 0 -6px #e3e4e5, 487px 0 0 -6px #e3e4e5,
    488px 0 0 -6px #e3e4e5, 489px 0 0 -6px #e3e4e5, 490px 0 0 -6px #e3e4e5,
    491px 0 0 -6px #e3e4e5, 492px 0 0 -6px #e3e4e5, 493px 0 0 -6px #e3e4e5,
    494px 0 0 -6px #e3e4e5, 495px 0 0 -6px #e3e4e5, 496px 0 0 -6px #e3e4e5,
    497px 0 0 -6px #e3e4e5, 498px 0 0 -6px #e3e4e5, 499px 0 0 -6px #e3e4e5,
    500px 0 0 -6px #e3e4e5, 501px 0 0 -6px #e3e4e5, 502px 0 0 -6px #e3e4e5,
    503px 0 0 -6px #e3e4e5, 504px 0 0 -6px #e3e4e5, 505px 0 0 -6px #e3e4e5,
    506px 0 0 -6px #e3e4e5, 507px 0 0 -6px #e3e4e5, 508px 0 0 -6px #e3e4e5,
    509px 0 0 -6px #e3e4e5, 510px 0 0 -6px #e3e4e5, 511px 0 0 -6px #e3e4e5,
    512px 0 0 -6px #e3e4e5;
}

.orion-slider-labels {
  @apply flex justify-between text-gray-800 text-sm;
  margin-top: -5px;
}

.orion-slider-popup {
  @apply absolute px-16 shadow-300 border border-gray-900-8 rounded-full bg-white font-medium whitespace-no-wrap;
  margin-top: 28px;
}

.orion-slider-popup:before {
  @apply absolute bg-white;
  box-shadow: -1px -1px 0 0 rgba(61, 62, 63, 0.08);
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -3px;
  width: 6px;
  top: -3px;
  height: 6px;
  transform: rotate(45deg);
}
