.orion.message {
  @apply rounded bg-green-50 p-8 text-base flex items-center;
}

.orion.message.header {
  @apply p-16;
}

.orion.message .header {
  @apply font-medium;
}

.orion.message.info {
  @apply bg-gray-100;
}

.orion.message.error {
  @apply bg-magenta-50;
}

.orion.message.warning {
  @apply bg-yellow-50;
}

.orion.message > .icon {
  @apply p-2 pr-8;
}

.orion.message.header > .icon {
  @apply pr-16;
}

.orion-message {
  @apply relative;
  max-width: 600px;
}

.orion-message.fluid {
  max-width: none;
}

.orion-message--shadow {
  @apply shadow-400;
}

.orion-message__close-icon {
  @apply absolute right-0 cursor-pointer p-16 text-gray-700;
  top: calc(50% - 26px);
}
